{% if weather_data %}
    {% load static %}
    <div class="card mb-3 w-50" style="margin:auto; padding-bottom:20px;">
        <h1 class="card-header">{{ weather_data.city}}</h1>
        <h2 class="card-title">&nbsp;&nbsp;{{ weather_data.temperature }}°C</h2>
        <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather_data.description}}</p>
        <img src="{% static "img/icons/" %}{{weather_data.icon}}.svg" alt="{{weather_data.description}}" style="width:40%; margin:auto;">
    </div>
{% endif %}

{% if daily_forecasts %}
    {% load static %}
    <br>
    <br>
    <hr>
    <h2>5-Day Forecasts</h2>
    <div id="forecastContainer" style="position:relative">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Forecast</th>
                </tr>
            </thead>
            <tbody>
        {% for forecast in daily_forecasts %}
                <tr class="table-dark">
                    <th scope="row>"><h3>{{forecast.day}}</h3></th>
                    <td><p>Temperature between: {{forecast.min_temp}}°C-{{forecast.max_temp}}°C</p></td>
                    <td><p>{{forecast.description}}</p></td>
                    <td><img src="{% static "img/icons/"%}{{forecast.icon}}.svg" alt="{{forecast.description}}" style="width:100px;"></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}